<% @secrets.each do |secret| %>
    <p><%= secret.content %></p>

        <% if not secret.users.include?(current_user) %>
            <form action="/like/<%=secret.id%>" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <button id="Like">Like</button>
            </form>
        <% else %>
            <form action="/likes/<%=secret.id%>" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="_method" value="delete">
                <button id="Unlike">Unlike</button>
            </form>
        <% end %>


    <p><%= secret.likes.count %> likes</p>
    <% if current_user == secret.user %>
    <form action="/secrets/<%=secret.id%>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <button id="Delete Secret">Delete Secret</button>
    </form>
    <% end %>
<% end %>