<div class="showWrapper">
    <div class="header text-right">
        <a href="/ideas">Ideas</a> |
        <a href="/logout">Logout</a>
    </div>
    <div class="idea">
        <p><%= @idea.user.alias %> says: </p>
        <p class="ideaContent"><%= @idea.content %></p>
    </div>

    <div class="likers">
        <p><b>People who likted this post:</b></p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Alias</td>
                    <td>Name</td>
                </tr>
            </thead>
            <tbody>
                <% @likes.each do |liker| %>
                <tr>
                    <td><a href="/user/<%=liker.user.id%>"><%= liker.user.alias %></a></td>
                    <td><%= liker.user.name %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>