<div class="wrapper">
    <p><b>Your Gold: </b><%= session[:gold] %></p>
    <div class="modeWrapper">
        <div class="mode">
            <h3>Farm</h3>
            <p>(earns 10-20 gold)</p>
            <!-- <a href="farm"><button class="btn btn-success">Find Gold!</button></a> -->
            <form action="/play" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="location" value="farm">
                <input type="submit" value="Find Gold!" class="btn btn-success">
            </form>
        </div>
        <div class="mode">
            <h3>Cave</h3>
            <p>(earns 5-10 gold)</p>
            <!-- <a href="cave"><button class="btn btn-success">Find Gold!</button></a> -->
            <form action="/play" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="location" value="cave">
                <input type="submit" value="Find Gold!" class="btn btn-success">
            </form>
        </div>
        <div class="mode">
            <h3>House</h3>
            <p>(earns 2-5 gold)</p>
            <!-- <a href="house"><button class="btn btn-success">Find Gold!</button></a> -->
            <form action="/play" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="location" value="house">
                <input type="submit" value="Find Gold!" class="btn btn-success">
            </form>
        </div>
        <div class="mode">
            <h3>Casino</h3>
            <p>(earns/takes 0-50 gold)</p>
            <!-- <a href="casino"><button class="btn btn-success">Find Gold!</button></a> -->
            <form action="/play" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="location" value="casino">
                <input type="submit" value="Find Gold!" class="btn btn-success">
            </form>
        </div>
    </div>
    <div class="activitiesWrapper">
        <p>Activities:</p>
        <div class="activities">
            <% session[:activities].each do |activity| %>
                <% if activity > 0 %>
                    <p class="good">You gain <%= activity %> gold!</p>
                <% else %>
                    <p class="bad">You lost <%= activity %> gold!</p>
                <% end %>
            <% end %>
        </div>
    </div>
    <a href="/reset">Reset Game!</a>
</div>