<div class="addStudentWrapper">
    <h1>New Student</h1>
    <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
            <p class="text-danger"><%= error %></p>
        <% end %>
    <% end %>
    <form action="/dojos/students" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <div>
            <p>First Name:</p>
            <input type="text" name="student[first_name]" placeholder="First Name">
        </div>
        <div>
            <p>Last Name:</p>
            <input type="text" name="student[last_name]" placeholder="Last Name">
        </div>
        <div>
            <p>Email:</p>
            <input type="text" name="student[email]" placeholder="Email">
        </div>
        <div>
            <p>Dojo:</p>
            <select name="student[dojo_id]" required="True">
                    <option value="<%=@dojo.id%>"><%=@dojo.branch%></option>
                    <% @dojos.each do |dojo| %>
                        <% if dojo.id != @dojo.id %>
                            <option value="<%=dojo.id%>"><%=dojo.branch%></option>
                        <% end %>
                    <% end %>
                </select>
            </div>
            <div>
                <button class="btn btn-success mt-3">Submit Student</button>
            </div>
        </form>
        <a href="/dojos/<%=@dojo.id%>"><%=@dojo.branch%></a> |
        <a href="<%= dojos_path %>">Home</a>
    </div>